<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Каталог</title>
  <link rel="stylesheet" th:href="@{/css/catalog.css}" />
</head>
<body>
<header>
  <div class="logo">Logo</div>
  <nav>
    <ul>
      <li><a href="/home">Головна</a></li>
      <li><a href="/catalog">Каталог</a></li>
      <li><a href="/logout">Вийти</a></li>
    </ul>
  </nav>
</header>
<main>
  <div class="search-container">
    <form action="/search" method="get">
      <input type="text" name="query" placeholder="Пошук товарів...">
      <button type="submit">Шукати</button>
    </form>
  </div>
  <h1>Каталог товарів</h1>
  <div class="products-container">
    <div th:each="product : ${products}" class="product">
      <img th:src="@{${product.photoUrl}}" alt="Product Image"/>
      <h3><a th:href="@{/products/details/{id}(id=${product.id})}" th:text="${product.name}">Product Name</a></h3>
      <p th:text="${product.price}">Product Price</p>
      <a href="#" class="btn-buy">Купити</a>
    </div>
  </div>
</main>
<footer>
  <p>© 2023 Your Company. All rights reserved.</p>
</footer>
</body>
</html>
