<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Каталог продуктів</title>
  <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>
<header>
  <div class="logo">Logo</div>
  <nav>
    <ul>
      <li><a href="/home">Головна</a></li>
      <li><a href="/catalog">Каталог</a></li>
      <li><a href="/find">Знайти</a></li>
      <li><a href="/logout">Вийти</a></li>
    </ul>
  </nav>
</header>
<main>
  <h1>Каталог продуктів</h1>
  <div class="catalog">
    <div class="products">
      <div th:each="product : ${products}" class="product">
        <h3 th:text="${product.name}">Product Name</h3>
        <p th:text="${product.price}">Product Price</p>
        <img th:src="@{${product.photoUrl}}" alt="Product Image"/>
        <a th:href="@{/products/details/{id}(id=${product.id})}">View Details</a>
      </div>
    </div>
  </div>
</main>
<footer>
  <p>© 2023 Your Company. All rights reserved.</p>
</footer>
</body>
</html>
