<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Каталог товарів</title>
  <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<header>
  <div class="logo">Logo</div>
  <nav>
    <ul>
      <li><a href="/products">Каталог</a></li>
      <li><a href="#">Знайти</a></li>
      <li th:if="${#request.remoteUser == null}"><a href="/login">Увійти</a></li>
      <li th:if="${#request.remoteUser != null}"><a href="/logout">Вийти</a></li>
    </ul>
  </nav>
</header>

<main>
  <section class="product-catalog">
    <h2>Каталог товарів</h2>
    <ul>
      <li th:each="product : ${products}">
        <a th:href="@{/products/{id}(id=${product.id})}">
          <img th:src="${product.photoUrl}" alt="Фото товару">
          <h3 th:text="${product.name}">Назва товару</h3>
          <p>Ціна: <span th:text="${product.price}">Ціна товару</span> грн</p>
        </a>
      </li>
    </ul>
  </section>
</main>

<footer>
  <p>&copy; 2024 Комп'ютерні запчастини. Всі права захищені.</p>
</footer>
</body>
</html>
