<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Личный кабинет</title>
  <link rel="stylesheet" th:href="@{/css/profile.css}" />
</head>
<body>
<header>
  <div class="logo">PC STORE</div>
  <nav>
    <ul>
      <li><a href="/home">Головна</a></li>
      <li><a href="/catalog">Каталог</a></li>
      <li> <a th:href="@{/cart}">
        <img src="/images/cart.png" alt="Корзина" class="cart-icon">
      </a>
      </li>
      <li><a href="/profile">Особистий кабінет</a></li>
      <li><a href="/login">Вийти</a></li>
    </ul>
  </nav>
</header>
<main>
  <h1>Особистий кабінет</h1>
  <div class="user-info">
    <p>Ім'я: <span th:text="${user.username}"></span></p>
    <p>Email: <span th:text="${user.email}"></span></p>
  </div>
  <h2>Ваші замовлення</h2>
  <div class="orders">
    <div th:each="order : ${orders}" class="order">
      <h3>Замовлення №<span th:text="${order.id}"></span></h3>
      <p>Адреса: <span th:text="${order.customerAddress}"></span></p>
      <p>Email: <span th:text="${order.customerEmail}"></span></p>
      <p>Ім'я: <span th:text="${order.customerName}"></span></p>
      <p>Номер телефону: <span th:text="${order.customerPhone}"></span></p>
      <div class="order-items">
        <div th:each="item : ${order.orderItems}" class="order-item">
          <div class="product-details">
            <p>Назва товару: <a th:href="@{/products/details/{id}(id=${item.product.id})}" th:text="${item.product.name}"></a></p>
            <p>Кількість: <span th:text="${item.quantity}"></span></p>
            <p>Ціна: <span th:text="${item.product.price}"></span></p>
          </div>
          <img th:src="@{${item.product.photoUrl}}" alt="Product Image" class="product-image"/>
        </div>
      </div>
    </div>
  </div>
</main>
<footer>
  <p>© 2023 Your Company. All rights reserved.</p>
</footer>
</body>
</html>
